body {
    position: relative;
    color: #d0d6f9;
    margin: 0ch;
    font-family: 'Barlow Condensed', sans-serif;
}

.backround {
    position: absolute;
    top: 0;
    left: 0cm;
    width: 100%;
}

.bold {
    display: inline-block;
    width: 1.2rem;
    font-weight: 600;
}

.body {
    position: absolute;   
    width: 100%;
}

.tab-bar {
    position: fixed;
    top: 20px;
    width: 100%;
    height: 90px;
}

.logo {
    position: absolute;
    left: 42px;
    top: 42px;
    display: inline;
    vertical-align: middle;
}

.tab-hr {
    display: inline-block;
    width: 100%;
    max-width: 600px;
    position: relative;
    top: 60px;
    left: 5%; 
}

.menu-back {
    display: inline-block;
    background-color: #0b0d177c;
    width: 60%;
    text-align: center;
    margin: 0px 0px 0px auto;
    height: 96px;
    position: absolute;
    right: 0cm;
    left: 0px;
    top: 20px; 
    padding-right: 50px;
}

.menu {
    display: inline-block;
    max-width: 200px;
    width: 200px;
    margin-top: 35px;
}

.crew-link {
    border-style: none;
    height: 12px;
}

.index-main-container {
    position: absolute;
    top: 387px;
    width: 450px;
}

.explore {
    width: 274px;
    height: 274px;
    border-radius: 50%;
    position: absolute;
    top: 495px;
    right: 20%;
}

.alt-container {
    display: block;
    position: relative;
    padding: 0 10% 0 10%;
    margin-top: 135px;
    width: 80%;
    height: 900px;
}

.sixtyfive {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1,625 rem;
    font-style: unset;
    font-weight: 400;
}

.plantes {
    position: absolute;
    right: 0%;
    top: 200px;
    margin-right: 10%;
    display: inline-block;
    width: 483px;
    height: 487px;
    text-align: left;
}

.dest {
    text-align: center;
    display: inline-block;
    width: 20%;
    margin: 0 12,5px;
}

.data-container {
    display: inline-block;
    width: 160px;
}

.planet {
    margin-left: 10%;
    position: absolute;
    top: 80px;
    display: inline-block;
    width: 516px;
    height: 570px;
}