
body {
    margin: 0;
}

.tab-bar {
    position: fixed;
    top: 50px;
    width: 100%;
    background-color: brown;
    height: 90px;
}

.menu-back {
    display: inline-block;
    background-color: aqua;
    width: 60%;
    text-align: center;
    margin: 0px 0px 0px auto;
    height: 50px;
    position: absolute;
    right: 0cm;
    top: 20px;
    padding-right: 50px;

}

.tab-hr {
    display: inline-block;
    width: 100%;
    max-width: 600px;
    position: relative;
    top: 35px;
    left: 5%; 
}

.hede {
    position: absolute;
    left: 20px;
    top: 20px;
    display: inline;
    vertical-align: middle;
}

.menu {
    display: inline-block;
    max-width: 200px;
    width: auto;
    margin-top: 15px;
}

.bold {
    display: inline-block;
    width: 1.2rem;
    font-weight: 600;
}